/*
Color Palette:
#D1BCE3
#C49BBB
#A1867F
#585481
#19297C
*/

body {
    background-color: #585481;
    color: white;
    
    font-family: calibri;
    font-weight: 100;
    
}

#input {
    height: 23px;
    width: 100x;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

#jtron {
    background-color: #585481;
}
